header {
    background-color: rgb(9, 50, 9);
    color: white;
    text-align: center;
    }

    h4 {
     background-color: rgb(194, 194, 85);
     color: white;
     text-align: center;
    }

    footer {
        background-color: rgb(47, 46, 46);
        color: white;
        text-align: left;
        }
    